Flask==2.2.3
Flask-FontAwesome==0.1.5
gunicorn==20.1.0
matplotlib==3.7.1
mlxtend==0.22.0
numpy==1.24.2
pandas==2.0.0
Pillow==9.0.1
python-magic==0.4.27
reportlab==3.6.8
scikit-learn==1.2.2
scipy==1.10.1
vt-graph-api==2.2.0